{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1>Les dernières annonces</h1>

	{% for annonce in annonces %}
		<div class="annonce"><a href="{{path('annonces_details', {slug:annonce.slug })}}">
			
			<img src="{{ asset('uploads/') ~ annonce.images[0].name }}" alt="{{ annonce.title }}">
			
			<div class="content">
				<div class="title">
					<a href="{{path('annonces_details', {slug:annonce.slug })}}">{{annonce.title}}</a>
				</div>
				<div class="categorie">Catégorie: {{ annonce.categories }}</div>
				<div class="description">{{annonce.content|striptags|u.truncate(50, '...')}}</div>
			</div>
		</a>
		</div>
	{% endfor %}

{% endblock %}
