{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<style>
		img {
			width: 200px
		}
	</style>

	<h1>Les annonces en lignes</h1>

	{% for annonce in annonces %}
		<div class="annonce">
			<div class="image">
				<img src="{{ asset('uploads/') ~ annonce.images[0].name }}" alt="{{ annonce.title }}">
			</div>
			<div class="content">
				<div class="title">
					<a href="{{path('annonces_details', {slug:annonce.slug })}}">{{annonce.title}}</a>
				</div>
				<div class="categorie">{{ annonce.categories }}</div>
				<div class="description">{{annonce.content|striptags|u.truncate(50, '...')}}</div>
			</div>
		</div>
	{% endfor %}

{% endblock %}
