{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
<h1>Gérer les catégories</h1>

<a class="button" href="{{path('admin_categories_ajout')}}">Ajouter une nouvelle catégorie</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Parent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for categorie in categories %}
        <tr>
            <td>{{categorie.id}}</td>
            <td>{{categorie.name}}</td>
            <td>{{categorie.parent}}</td>
            <td><a href="{{path('admin_categories_modifier', {id:categorie.id})}}">Modifier</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
