{% extends 'base.html.twig' %}

{% block title %}Favoris
{% endblock %}

{% block body %}
<h1>Mes annonces en favoris</h1>


{% for annonce in annonces %}
    <div class="annonce">
			<a href="{{path('annonces_details', {slug:annonce.slug })}}">

				<img src="{{ asset('uploads/') ~ annonce.images[0].name }}" alt="{{ annonce.title }}">

				{% if is_granted("ROLE_USER") %}
					{% for favoris in annonce.favoris %}
						{% if favoris.id == app.user.id %}
							<div class="heart">
								<a href="{{path('annonces_retrait_favoris', {id: annonce.id})}}">
									<i class="fas fa-heart"></i>
								</a>
							</div>
						{% else %}
							<div class="heart">
								<a href="{{path('annonces_ajout_favoris', {id: annonce.id})}}">
									<i class="far fa-heart"></i>
								</a>
							</div>
						{% endif %}
					{% else %}
						<div class="heart">
							<a href="{{path('annonces_ajout_favoris', {id: annonce.id})}}">
								<i class="far fa-heart"></i>
							</a>
						</div>
					{% endfor %}
				{% else %}
					<div class="heart">
						<i class="far fa-heart"></i>
					</div>
				{% endif %}

				<div class="annonce__content">
					<div class="title">{{annonce.title}}</div>
					<div class="categorie">{{ annonce.categories }}</div>
					<div class="description">{{annonce.content|raw}}</div>
				</div>
			</a>
		</div>
{% endfor %}

{% endblock %}
