{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{app.user.name}} {{app.user.firstname}}
{% endblock %}

{% block body %}

	<h1>Modification du profil de {{app.user.name}} {{app.user.firstname}}</h1>
	<p>Adresse email:{{app.user.email}}</p>

	<a href="#">Modifier le mot de passe</a>

	{% for message in app.flashes('error') %}
		<div class="error">{{message}}</div>
	{% endfor %}

	<div class="form">
		<form method="post">
			<label for="pass">Mot de passe</label>
			<input type="password" id="pass" name="pass">

			<label for="pass2">Veuillez confirmer le mot de passe</label>
			<input type="password" id="pass2" name="pass2">

			<button>Valider </button>
		</form>
	</div>
{% endblock %}
