{% extends 'base.html.twig' %}

{% block title %}Modification du profil de
	{{app.user.name}}
	{{app.user.firstname}}
{% endblock %}

{% block body %}

	<h1>Modification du profil de
		{{app.user.name}}
		{{app.user.firstname}}</h1>

	{{ form_start(form) }}

	<div class="form__item">{{ form_row(form.name, {'label': 'Nom'}) }}</div>
	<div class="form__item">{{ form_row(form.firstname, {'label': 'Prénom'}) }}</div>
	<div class="form__item">{{ form_row(form.valider, {'attr': {'class': 'button'}}) }}</div>


	{{ form_end(form) }}
</div>{% endblock %}
