{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<h1>Bonjour
		{{app.user.name}}
		{{app.user.firstname}}</h1>
	<p>Adresse email:
		{{app.user.email}}</p>

	<a href="#">Modifier le profil</a>

	<div class="annonces">
		<h2>Toutes mes annonces en ligne:</h2>
        <h3>Total: {{app.user.annonces|length}}</h3>

		{% for annonce in app.user.annonces %}
			<div class="titre">{{annonce.title}}</div>
		{% endfor %}
	</div>
{% endblock %}
